@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

input {
    width: 200px;
    margin: 20px;
}

.container button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
}