@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

input {
    width: 40px;
    height: 40px;
}

p {
    font-size: 20px;
}